
<!-- Data transmission technics in angular:

if compo dont have relation:
 1. using service 
 2. viewChild 
 3. subjects(important)

If component is having relation between them
1. Parent to child data transfer @Input()
2. Child to parent data transfer @Output()-->
<div class="inp">
    Enter City: <input type="text" (keyup)="parentData($event)"><br>
</div><br><br>
<app-admin [cityName]="parentCityName" [fruits]="fruit" ></app-admin><br><br>
<app-admin-child2  [cityNameChild2]="parentCityName" [car]="cars"></app-admin-child2><br><br>

<!-- <button routerLink="/admin/adminChild">child</button> Not useful when components are live-->

