
<!-- <div class="main-container">
  <p>
    this is my first web application
  </p>
  {{myName}}
</div>
 {{xyz}}//wrong  -->
<!--{{mySurname2}}
<br>
<button (click)="test()">click</button><br> -->
<!-- <app-user></app-user><br>
<app-databinding></app-databinding> -->
<button routerLink="/user"> User </button>&nbsp;&nbsp; 
<button routerLink="/dataBinding"> dataBinding </button>&nbsp; &nbsp; 
<a href="/user">userCompo with href</a> &nbsp; &nbsp; <!--it will refresh our application so all data will lost so do not use -->
<a routerLink="/user">userCompo with routerLink</a> &nbsp; &nbsp; 
<button routerLink="/use">wlid card</button>
<button routerLink="/homeModule-home">home module - home</button>
<button routerLink="/landing">home module - Landing</button>
<router-outlet></router-outlet>