<form>
   Enter Your First Name : <input type="text" appCharactersonly><br>
   Enter Your Last Name : <input type="text" appCharactersonly> <br>
   <h2>{{title | uppercase}}</h2>
   <h2>{{title | lowercase}}</h2>
   <h2>{{title | titlecase}}</h2>
   <p>{{todayDate | date}}</p>
   <p>{{todayDate | date : "MM/dd/yyyy"}}</p>
   <p>{{today}}</p>
   <p>{{todayDate2}}</p>

   <input type="text" [(ngModel)]="inputBoxValue" placeholder="search here.." [ngModelOptions]="{standalone: true}">
   <br>  <br>
   <table class="table-main">
      <tr>
         <th>Employee Name</th>
         <th>Employee Age</th>
         <th>Employee Sallary</th>
      </tr>
      <tr *ngFor="let empData of employee | searchtext:inputBoxValue">
         <td>{{empData.name}}</td>
         <td>{{empData.age}}</td>
         <td>{{empData.salary}}</td>
      </tr>
   </table>
  <br><br>
   <input type="text" placeholder=" Enter amount ...." [(ngModel)] = "amountInDoller" [ngModelOptions]="{standalone: true}">
  <br> &#8377;{{amountInDoller | currency1}} 
   <!-- {{amount|currency:"INR"}} -->
   <br>
  {{5000 |currency:"INR" }}

  <input type="text" appNumbersOnly>Mob no
</form>