.table-main{
  border: 1px solid greenyellow;
  background-color: aquamarine;
  border-collapse: collapse;
  padding : 2px;
}
tr,td,th{
    border: 1px solid greenyellow; 
    border-collapse: collapse;
    padding : 2px;
}