<p>reactiveform works!</p>

<input type="text" (keydown)="data($event)">1
<input type="text" #inpBox (keyup)="data1(inpBox.value)">2
<input type="text" [(ngModel)]="boxValue" (keydown)="data2()">3
<form [formGroup]="studentDataForm">

    <label>First Name<span *ngIf="studentDataForm.get('name')?.touched
        && studentDataForm.get('name')?.errors?.['required']" class="errors">*</span></label>
    <br>
    <input type="text" formControlName="name">
    <br>

    <span class="errors" *ngIf="studentDataForm.get('name')?.touched
     && studentDataForm.get('name')?.errors?.['required']"> Name is required</span>
    <span class="errors" *ngIf="studentDataForm.get('name')?.touched &&
     studentDataForm.get('name')?.errors?.['minlength']">
        Atleast 5 characters expected
    </span><br>

    <label>Last Name<span *ngIf="studentDataForm.get('lastName')?.touched
        && studentDataForm.get('lastName')?.errors?.['required']" class="errors">*</span></label>
    <br>
    <input type="text" formControlName="lastName" ><br>
    <span class="errors" *ngIf="(studentDataForm.get('lastName')?.touched || studentDataForm.get('lastName')?.dirty)  
    && studentDataForm.get('lastName')?.errors?.['pattern']">please match pattern</span>

    <span class="errors" *ngIf="studentDataForm.get('lastName')?.touched 
    && studentDataForm.get('lastName')?.errors?.['required']">Last Name is required</span>

    <br> <label>mob no</label>
    <br>
    <input type="text" formControlName="mobileNo"><br>
    <span class="errors"
        *ngIf="studentDataForm.get('mobileNo')?.errors?.['pattern'] && !studentDataForm.get('mobileNo')?.errors?.['maxlength']">
        Pattern not mached
    </span>
    <br>
    <span class="errors"
        *ngIf="studentDataForm.get('mobileNo')?.errors?.['maxlength'] && !studentDataForm.get('mobileNo')?.errors?.['pattern'] ">
        maxlength is 10 digits
    </span>
    <br>
    <label >City</label><br>
    <select formControlName="city" >
        <!-- <option value="Mumbai">Mumbai</option>
        <option value="Pune">Pune</option>
        <option value="Satara">Satara</option>
        <option value="Sangli">Sangli</option> -->
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>

    </select>

    <br><br>
    <label>Password</label><br>
    <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
    (keyup)="passwordValition($event)">
    <span><button (click)="showPasswordFun()">show</button></span><br>
    <span class="errors" *ngIf="isMatched">Password not matched</span>
    <br><br> 

    <label>Confirm Password</label><br>
    <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword"
    (keyup)="confirmPasswordValition($event)">
    <span><button (click)="showPasswordFun()">show</button></span><br>
    <span class="errors" *ngIf="isMatched">Password not matched</span>
    <br><br> 

    <label>Title</label>
    <input type="text" formControlName="title"><br>
    <span class="errors" *ngIf="studentDataForm.get('title')?.touched &&
     studentDataForm.get('title')?.errors?.['isValid'] ">Title word is not acceptable as a input</span>
    <br>

    <input type="checkbox" formControlName="tnc">Please accept terms and condition
    <br><br><br>

    <button [disabled]="studentDataForm.invalid" (click)="submit()">submit</button>
</form>